@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
}

.page-header {
  color: #000000;
}

.navigation-list,
.breadcrumbs {
  list-style: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
  background-color: #FFFFFF;
}

.advantages-list,
.recommendation-list,
.catalog-filter-list {
  list-style: none;
}

.advantages-title,
.recommendation-item-title,
.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description-title,
.recommendation-description-title,
.hotel-search-description-title {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description {
  text-align: center;
}

.advantages-item-primary {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.recommendation-item-primary {
  background-color: rgba(131, 179, 211, 0.12);
}

.recommendation-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.recommendation-description {
  text-align: center;
}

.hotel-search-link {
  background-color: #756157;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.button-subscribe {}

.hotel-search {
  text-align: center;
}

.subscribe {
  background-image: url(../images/background-photo/subcribe-bg.jpg);
  background-size: cover;
}

.subscribe-form {
  text-align: center;
}

/* Каталог */

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.hotel-search-bg {
  background-image: url(../images/background-photo/hotel-search-bg.jpg);
  background-size: cover;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-group {
  line-height: 23px;
}

.button-submit {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.button-reset {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
}

.product-list,
.pagination-item {
  list-style: none;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.product-rating {
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-more,
.navigation-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.button-favorites {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.button-favorites-green {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;

}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.pagination-next {
  background-color: transparent;
  color: #000000;
}

.subscribe-title-catalog {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.subscribe-description-catalog {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-subscribe {
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
