@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  min-width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
}

.navigation {
  display: flex;
  padding-right: 70px;
  padding-left: 238px;
  position: relative;
}

.navigation-list,
.breadcrumbs {
  list-style: none;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.navigation-logo {
  margin-right: 30px;
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 490px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
  background-color: #ffffff;
  padding: 20px 16px;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus-visible {
  z-index: 2;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 350px;
  margin-left: auto;
}

.navigation-link-search {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 22px 12px;
  width: 44px;
  height: 64px;
}

.hero {
  background-image: url("../images/divider.svg"), url("../images/background-photo/mountains-bg.jpg");
  text-align: center;
  padding-top: 51px;
  padding-bottom: 77px;
  background-repeat: no-repeat;
  background-position: center bottom -1px, center;
  background-color: #425c72;
  background-size: 1200px 57px, cover;
}

.navigation-link-favorites {
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 22px 12px;
  width: 44px;
  height: 64px;
}

.navigation-link-active::after {
  display: block;
  position: absolute;
  bottom: 0;
  height: 2px;
  left: 16px;
  right: 16px;
  background-color: #756257;
  content: "";
}

.navigation-favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 11px;
  right: 4px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7db54f;
  font-size: 10px;
  border-radius: 10px;
  min-width: 20px;
  height: 20px;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  display: block;
  background-image: url("../images/icons/home.svg");
  width: 12px;
  height: 12px;
}

.breadcrumbs-item::after {
  display: block;
  content: "";
  background-image: url("../images/arrow/arrow-breadcrumbs.svg");
  width: 7px;
  height: 10px;
  margin-right: 11px;
  margin-left: 11px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.control {
  position: relative;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  top: 2px;
  left: 0;
  background-color: #ffffff;
}

.control-mark::before {
  content: "";
  width: 20px;
  height: 19px;
  background-image: url("../images/checkbox/checkbox.svg");
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.control-input:checked + .control-mark::before {
  display: block;
}

.control-mark-radio {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
  background-color: #ffffff;
  border-radius: 50%;
}

.control-mark-radio::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  position: absolute;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  display: none;
}

.control-input:checked + .control-mark-radio::before {
  display: block;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control:focus-within .control-mark,
.control:focus-within .control-mark-radio {
  outline: 3px solid #83b3d3;
}

.advantages-list,
.recommendation-list,
.catalog-filter-list,
.social-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages {
  padding-top: 69px;
}

.advantages-head {
  margin-bottom: 90px;
  padding-left: 50px;
  padding-right: 50px;
}

.advantages-title {
  margin-left: auto;
  margin-right: auto;
  width: 630px;
  margin-top: 0;
  margin-bottom: 25px;
}

.advantages-description-title,
.recommendation-description-title {
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  display: flex;
  align-items: center;
  width: calc(100% / 3);
  min-height: 385px;
}

.advantages-item-img {
  flex-shrink: 0;
  height: 100%;
  width: calc(100% * 2 / 3);
  object-fit: cover;
}

.advantages-item-with-img {
  color: #ffffff;
  background-color: #82b3d3;
  width: 100%;
}

.advantages-item-with-img .advantages-item-title {
  color: #ffffff;
}

.advantages-item-secondary {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 103px 85px;
  height: 100%;
  width: 400px;
}

.advantages-description-title,
.recommendation-description-title,
.hotel-search-description-title {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-item-title {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.advantages-item-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-with-img .advantages-item-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.section-title {
  width: 505px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20px;
}

.recommendation {
  padding-top: 64px;
}

.recommendation-head {
  margin-bottom: 64px;
  padding-left: 50px;
  padding-right: 50px;
}

.recommendation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.recommendation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 80px 85px;
}

.recommendation-item::before {
  content: "";
  width: 75px;
  height: 77px;
  background-repeat: no-repeat;
  margin-bottom: 27px;
  background-position: center;
}

.recommendations-item-housing::before {
  background-image: url("../images/icons/housing.svg");
}

.recommendations-item-food::before {
  background-image: url("../images/icons/food.svg");
}

.recommendations-item-souvenirs::before {
  background-image: url("../images/icons/souvenir.svg");
}

.recommendation-item-primary {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 80px 85px;
}

.recommendation-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 0;
}

.recommendation-description,
.advantages-description {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.hotel-search {
  padding: 96px 304px;
  text-align: center;
}

.hotel-search h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.hotel-search p {
  margin-top: 0;
  margin-bottom: 54px;
}

.hotel-search-link {
  display: inline-block;
  background-color: #756157;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
}

.hotel-search-link:hover,
.hotel-search-link:focus {
  background-color: #615048;
}

.hotel-search-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe,
.subscribe-catalog {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe-title,
.subscribe-title-catalog {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-title-catalog {
  color: #000000;
}

.subscribe-description,
.subscribe-description-catalog {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 56px;
}

.subscribe-description-catalog {
  color: #333333;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
}

.subcribe-label {
  flex-grow: 1;
}

.input-email {
  font-family: inherit;
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 0 20px;
  background-color: #f2f2f2;
  font-size: 18px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 70px 33px;
}

.subscribe {
  background-image: url("../images/background-photo/subcribe-bg.jpg");
  background-size: cover;
  background-color: #3c5c67;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

.social-link {
  display: flex;
  position: relative;
  width: 47px;
  height: 44px;
  padding: 0 10px 0 10px;
  color: #83b3d3;
}

.social-link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-link:hover,
.social-link:focus {
  color: #68a2ca;
}

.social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-close {
  display: none;
}

.modal {
  font-family: "PT Sans", sans-serif;
  position: relative;
  margin: auto;
  background-color: #ffffff;
  padding: 64px 70px;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-auth {
  width: 717px;
}

.button-modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
}

.button-modal-close:hover {
  background-color: #e6e6e6;
}

.button-modal-close:focus-visible {
  background-color: #e6e6e6;
}

.button-modal-close:active {
  background-color: #e6e6e6;
}

.button-modal-close:active svg {
  opacity: 0.3;
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
}

.modal-hotel-search-form {
  display: grid;
  width: 100%;
  grid-template-columns: 247px 242px;
  gap: 23px 88px;
}

.modal-field-group {
  grid-column: 1 / -1;
  display: flex;
}

.modal-field-group-half {
  grid-column: auto / span 1;
}

.modal-form-label {
  width: 137px;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  padding-top: 13px;
}

.modal-input-wrapper {
  position: relative;
  flex-grow: 1;
}

.modal-input-wrapper::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  right: 19px;
  top: 17px;
  background-image: url("../images/modal/calendar.svg");
  opacity: 0.3;
}

.modal-field {
  display: block;
  width: 100%;
  height: 48px;
  padding: 0 20px 0 20px;
  background-color: #f2f2f2;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px;
}

.modal-field:hover {
  background-color: #e6e6e6;
}

.modal-field:focus:not(:placeholder-shown) {
  background-color: #f2f2f2;
}

.modal-field:focus-visible {
  background-color: #e6e6e6;
}

.modal-field-group-comment {
  display: block;
  margin-top: 4px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.field-group-comment-mistake {
  color: #ff5757;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.hotel-search-bg {
  background-image: url("../images/background-photo/hotel-search-bg.jpg");
  background-size: cover;
  color: #ffffff;
  padding: 35px 70px 70px;
  background-color: #303940;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  width: 292px;
  height: 49px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  padding: 0 40px 0 18px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("../images/arrow/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  background-color: #ffffff;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.sorting-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
}

.sorting-inner {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
}

.sorting-link {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 14px 12px;
}

.sorting-link-list {
  background-image: url("../images/icons/catalog/show-list.svg");
}

.sorting-link-active {
  border-color: #000000;
}

.sorting-link-card {
  background-image: url("../images/icons/catalog/show-card.svg");
}

.sorting-link-grid {
  background-image: url("../images/icons/catalog/show-grid.svg");
}

.sorting-link:not(:last-child) {
  margin-right: 8px;
}

.sorting-link:hover {
  border-color: #000000;
}

.sorting-link:active {
  border-color: #000000;
}

.catalog-filter-group {
  line-height: 23px;
  display: flex;
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  margin-left: 0;
}

.catalog-filter-group-type {
  margin-right: auto;
}

.button-search {
  width: 191px;
  padding-top: 57px;
}

.button-submit {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  margin-bottom: 32px;
  cursor: pointer;
}

.button-submit:hover,
.button-submit:focus {
  background-color: #68a2ca;
}

.button-submit:active {
  background-color: #83b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-submit:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: none;
  padding: 8px 45px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:active {
  opacity: 0.3;
}

.button-reset:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.range {
  padding-bottom: 8px;
}

.range-wrapper-inputs {
  display: flex;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 45px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  top: -8px;
  cursor: grab;
}

.range-button:hover,
.range-button:focus-visible {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-button:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
  cursor: grabbing;
}

.button-min {
  left: 0;
}

.button-max {
  right: -10px;
}

.price-label {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.filter-price {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 21px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.price-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  width: 143px;
  color: #000000;
  background-color: #f2f2f2;
  padding: 12px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  -moz-appearance: textfield;
}

.price-input-left {
  margin-right: 2px;
}

.price-input-right {
  border-radius: 0 4px 4px 0;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price-input:hover {
  background-color: #e6e6e6;
}

.price-input:focus-visible {
  background-color: #e6e6e6;
}

.price-input:focus:not(:placeholder-shown) {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
}

.catalog-hotel {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.catalog-wrapper {
  padding: 50px 70px 60px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  padding-bottom: 38px;
  border-bottom: 1px solid #e6e6e6;
}

.product-list,
.pagination-item {
  list-style: none;
}

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.product-card-price {
  justify-self: end;
}

.product-card-link {
  display: block;
  height: 212px;
  grid-column: 1 / -1;
}

.product-card-description,
.product-card-price {
  margin: 0;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0;
  grid-column: 1/-1;
}

.product-rating {
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  margin: 0;
  padding: 9px;
  text-align: center;
  border-radius: 4px;
  align-self: end;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  gap: 8px;
  margin: 0;
  padding: 0;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 12px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.all-pagination {
  display: block;
  font-family: inherit;
  width: 60px;
  height: 60px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  padding: 17px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.all-pagination:hover,
.all-pagination:focus {
  background-color: #68a2ca;
}

.all-pagination:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-more,
.navigation-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
}

.navigation-button {
  padding: 8px;
  margin-left: 20px;
  width: 160px;
  display: block;
}

.navigation-button:hover,
.navigation-button:focus {
  background-color: #615048;
}

.navigation-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-more:hover,
.button-more:focus {
  background-color: #615048;
}

.button-more:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-more:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-favorites {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-favorites:hover,
.button-favorites:focus {
  background-color: #68a2ca;
}

.button-favorites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-favorites-green {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7db54f;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-favorites-green:hover,
.button-favorites-green:focus {
  background-color: #6c9e42;
}

.button-favorites-green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites-green:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.rating-stars {
  display: flex;
  align-items: center;
}

.star {
  display: block;
  background-image: url("../images/icons/star.svg");
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  margin-right: 7px;
}

.star:last-child {
  margin-right: 0;
}

.button-subscribe {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: #ffffff;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  width: 232px;
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #68a2ca;
}

.button-subscribe:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.phone-link {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px 0 20px;
}

.phone-link:hover,
.phone-link:focus {
  color: #756157;
}

.phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.html-academy-link {
  text-decoration: none;
  color: #000000;
}

.html-academy-link:hover,
.html-academy-link:focus {
  color: #756157;
}

.html-academy-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.tooltip {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-button {
  width: 26px;
  height: 26px;
  border: none;
  background-color: #83b3d3;
  border-radius: 50%;
  background-image: url("../images/modal/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/modal/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
  color: #83b3d3;
}

.tooltip-text {
  position: absolute;
  display: none;
  top: 25px;
  left: 50%;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  padding: 20px 18px 22px 22px;
  width: 256px;
  margin-top: 18px;
  transform: translateX(-50%);
}

.button-modal-search {
  grid-column: 1/ -1;
  padding: 18px 77px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 26px;
}

.button-modal-search:hover,
.button-modal-search:focus {
  background-color: #68a2ca;
}

.button-modal-search:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.modal-field-number {
  width: 31px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  -moz-appearance: textfield;
}

.modal-form-label-children {
  width: auto;
}

.modal-field-number::-webkit-outer-spin-button,
.modal-field-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-number {
  position: relative;
  width: 40px;
  height: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-number::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
}

.button-number:hover::before,
.button-number:hover::after {
  background-color: #000000;
}

.button-number:active::before,
.button-number:active::after {
  background-color: #000000;
  opacity: 0.2;
}

.modal-number-wrapper {
  width: 110px;
  margin-left: auto;
  display: flex;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.button-plus::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 14px;
  background-color: rgba(117, 97, 87, 0.3);
}
